body {
  background-color: #f5f3ed !important;
}

[class^='MuiInputBase-root']::before {
  border-bottom: 1px solid #f5f3ed !important;
}

[class^='MuiFormLabel-root'] {
  color: #f5f3ed !important;
  font-size: 14px !important;
}

[class^='MuiInputBase-input'] {
  color: #f5f3ed !important;
  font-weight: 700 !important;
}

[class^='MuiFormHelperText'] {
  color: #FFB130 !important;
  font-weight: 500 !important;
  font-size: 10px !important;
}

svg {
  background-color: transparent !important;
}

.react-flow__attribution {
  display: none;
}